:root {
    --plyr-audio-controls-background: rgba(0, 0, 0, 0);
   --plyr-control-icon-size: 10px;
}
body {
   margin-bottom: -6px;
   margin-top: -6px;
   padding-top: -6px;
   overflow-y: hidden;
}
div {
   line-height: 10px;
   float: left;
}
div.plyr {
   min-width: 40px;
}
div.plyr__controls {
   width: 40px;
}
p {
   font-family: 'Work Sans', sans-serif;
   float: left;
   vertical-align: middle;
}
audio {
   vertical-align: middle;
   background: rgba(0, 0, 0, 0);
   float: left;
}